.paginationNavigation ul {
  list-style: none;
  margin: auto;
}

.paginationNavigation li a,
.paginationNavigation li a:hover,
.paginationNavigation li.active a,
.paginationNavigation li.disabled {
  padding: 4px 8px;
  background-color: var(--white);
  border-radius: 3px;
  cursor: pointer;
  color: var(--black);
  text-decoration: none;

  @include respond(desktop) {
    padding: 12px;
    padding: 0.75rem;
  }
}

.paginationNavigation li {
  display: inline;
}

.paginationNavigation li a:hover,
.paginationNavigation li.active a {
  background-color: var(--black);
  color: var(--white);
  transition: background-color 0.25s ease-in-out;
}
