.single-post {
  .breadcrumb_last {
    display: none;
  }
}

.blog,
.archive,
.page-template-template-page-with-sidebar {
  .pageHeader {
    .col1 {
      .title {
        font-size: 24px;

        @include respond(desktop) {
          font-size: 36px;
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    @include respond(desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  main {
    @include respond(desktop) {
      width: 70%;
    }
  }

  aside.sidebar {
    @include respond(desktop) {
      width: 20%;
    }
  }

  article {
    background-color: #fffcf9;
    border: 1px solid #1a4975;
    border-radius: 48px;
    margin-bottom: 1.5rem;
    display: flex;

    .innerWrapper {
      background-position: left center;
      background-size: 300px 100%;
      border-radius: 48px;
      background-repeat: no-repeat;
      display: flex;
      justify-content: space-between;

      .col1 {
        height: 214px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 48px;
        border-top-right-radius: 48px;
        background-color: var(--secondary);

        @include respond(desktop) {
          height: 100%;
          width: 300px;
          border-top-right-radius: unset;
          border-bottom-left-radius: 48px;
        }
      }

      .col2 {
        margin: 1rem 1.5rem;

        @include respond(desktop) {
          width: 372px;
          margin: 1rem 1.5rem 1rem 0;
        }

        h2.entry-title {
          font-family: var(--display-font-family);
          font-size: 28px;
          color: #1a4975;
          line-height: 32px;
        }
      }
    }
  }

  .entry-title {
    a {
      text-decoration: none;
      color: var(--secondary);

      &:hover {
        color: var(--accent);
      }
    }
  }

  time {
    font-size: 10px;
  }

  .excerpt-more {
    white-space: nowrap;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary);

    &:hover {
      color: var(--accent);
    }
  }

  .postlink {
    @include respond(mobile) {
      display: none;
    }
  }
}
