body.single-post {
  #app .container {
    display: flex;
    flex-direction: column;

    @include respond(desktop) {
      flex-direction: row;
    }

    main.main {

      @include respond(desktop) {
        width: 750px;
      }
    }

    aside.sidebar {

      @include respond(desktop) {
        width: 490px;
      }
    }
  }
}
