ul#primary-desktop-menu {
  display: flex;
  //margin-top: 14px;

  > li {
    position: relative;
    margin: 0;

    &:hover {
      > a {
        color: var(--primary);
      }
    }
  }

  > li.current_page_item {
    > a {
      color: theme("colors.secondaryOnDark") !important;

      &::after {
        position: absolute;
        content: "";
        height: 2px;
        bottom: 4px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        transition: 0.25s ease-in-out;
        //background-color: var(--secondary);
      }
    }
  }

  a {
    font-size: 15px;
    font-weight: bold;
    font-family: var(--display-font-family);
    padding: 0 8px 14px 14px;
    //margin: 0 0 12px 0;
    display: inline-block;
    color: var(--site-black);
    letter-spacing: 0.03em;
    line-height: 24px;
    width: 100%;
    text-transform: none;
    position: relative;
    text-align: center;
    white-space: nowrap;

    &:hover {
      color: theme("colors.secondary-onDark") !important;
    }
  }

  .sub-menu .sub-menu {
    display: none !important;
  }

  ul.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -20px;
    min-width: 270px;
    font-family: var(--body-font-family);
    //display: none;
    opacity: 0;
    padding: 16px 0;
    margin-top: 0;
    text-align: left;
    background-color: theme("colors.black");
    //box-shadow: 2px 0 4px 2px rgb(0 0 0 / 20%);
    transition: opacity 0.25s ease-in-out;
    z-index: 150;
    border-radius: 0 0 0.25rem 0.25rem;
    //border-left: 1px solid theme("colors.grey");
    //border-right: 1px solid theme("colors.grey");
    //border-bottom: 2px solid theme("colors.grey");
    //border-top: 1px solid theme("colors.grey");

    li {
      display: block !important;
      margin: 0;
    }

    a {
      margin: 0 !important;
      padding: 8px 26px 8px 16px !important;
      font-weight: 500;
      color: theme("colors.white") !important;
      text-transform: none !important;
      text-align: left !important;

      &:hover {
        color: theme("colors.secondaryOnDark") !important;
        padding-right: 15px !important;
        font-weight: bold;
      }
    }

    li.current_page_parent a {
      &::after {
        background-color: transparent;
      }
    }
  }

  .sub-menu span.plusMinus.mobileOnly {
    display: none;
  }

  .menu-item-has-children:hover .sub-menu {
    display: block;
    opacity: 1;
  }

  .current_page_parent {
    > a {
      color: var(--primary) !important;

      &:hover {
        color: var(--secondary) !important;
      }
    }
  }

  .current_page_item {
    > a {
      color: theme("colors.grey") !important;
    }
  }

  ul li.current_page_item {
    > a {
      color: theme("colors.grey") !important;
      font-weight: bold;
    }
  }

  @at-root {
    .stuck-header {
      ul#primary-desktop-menu {
        > li > a {
          color: theme("colors.black");

          &:hover {
            color: theme("colors.primary") !important;
          }
        }

        .current_page_parent > a {
          color: theme("colors.primary") !important;
        }

        ul.sub-menu {
          border-left: 1px solid theme("colors.grey");
          border-right: 1px solid theme("colors.grey");
          border-bottom: 2px solid theme("colors.grey");

          li > a {
            //color: theme("colors.black");

            &:hover {
              color: theme("colors.secondaryOnDark") !important;
            }
          }
          //border-top: 1px solid theme("colors.grey");
        }
      }

      ul#primary-desktop-menu > li.current_page_item > a {
        color: theme("colors.primary") !important;
      }
    }
  }
}
