/* stylelint-disable */
.frm_form_fields {
  .frm_section_heading {
    margin-bottom: 1em;

    &:not(:first-of-type) {
      margin-top: 1em;
    }

    h3 {
      margin-bottom: 0;
    }
  }

  legend {
    display: none;
  }

  .privacy {
    font-size: 12px;
  }

  .frm_form_field {
    label {
      display: none;
    }
  }

  // placeholder color for dropdown menus:
  .job_role_menu,
  .appt_dropdown {
    select {
      color: rgb(var(--darkGrey-rgb)) !important;
    }
  }

  [type="text"],
  [type="password"],
  [type="date"],
  [type="datetime"],
  [type="datetime-local"],
  [type="month"],
  [type="week"],
  [type="email"],
  [type="number"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="url"],
  [type="color"],
  textarea,
  select {
    width: 100%;
    display: inline-block;
    margin: 1em 0 0 !important;
    padding-left: 1em;
    color: theme("colors.siteBlack");
    font-weight: 400;
    font-family: theme("fontFamily.body");
    letter-spacing: 1px;
    background-color: theme("colors.siteWhite");
    border: 1px solid theme("colors.primary");
    border-radius: theme("borderRadius.formFieldRadius") !important;
    height: 3em;
    font-size: 14px;
    &:focus,
    &:focus-visible,
    &:hover,
    &:active {
      border-color: theme("colors.secondary");
      background-color: theme("colors.siteWhite");
      outline-color: theme("colors.secondary");
    }

    &::placeholder {
      color: theme("colors.siteDarkGrey")!important;
      font-size: 1em !important;
      position: relative;
      // left: 1em;
      //top: calc(50% - 16px);
      //iphone specific
      @supports (-webkit-overflow-scrolling: touch) {
        //top: -.5em;
      }
    }
  }

  // add red border to Error fields (required fields that are blank)
  .frm_required_field.frm_blank_field {
    [type="text"],
    [type="password"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="email"],
    [type="number"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="url"],
    [type="color"],
    textarea,
    select {
      border: 2px solid theme("colors.siteErrorRed");
    }

    &:focus,
    &:hover,
    &:active {
      border-color: chartreuse;
    }
  }

  textarea {
    height: auto;
    padding-top: 8px !important;
  }


  /* ===========================  Select Styling  ========================== */

  $glass: rgba(255, 255, 255, 0.2);
  $glass-icon: theme("colors.siteBlack");
  $gradient: linear-gradient(-180deg, rgba(0, 164, 126, 1) 0%, rgba(0, 103, 153, 1) 100%);
  $option: #320a28;

  select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font-size: 14px;
    /* Personalize */
    width: 100%;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -256 1792 1792'%3E%3Cpath d='M1024 832q0-26-19-45L557 339q-19-19-45-19t-45 19L19 787Q0 806 0 832t19 45q19 19 45 19h896q26 0 45-19t19-45z' style='fill:%23fff' transform='matrix(1 0 0 -1 402.44 1239.864)'/%3E%3C/svg%3E")
    no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, $glass-icon 3em, $glass 3em);
    color: white;
    border: 1px solid theme("colors.primary");
    cursor: pointer;
    /* <option> colors */
    option {
      color: inherit;
      background-color: $option;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
  }





  input:invalid {
    border-color: theme("colors.siteErrorRed")!important;
    background-color: rgb(160 6 6 / 10%);
  }

  .frm_submit {
    text-align: center;
  }

  .frm_button_submit {
    margin-top: 0.5rem;
  }

  .frm_dropzone .dz-message {
    border: red;
    border-radius: 2px !important;
  }

  .btn {
    padding: 16px;
    min-width: auto !important;
  }
}/* End of .frm_form_fields */

.frm_form_field {

}

.frm_fields_container .form-field.half,
.frm_section_heading .form-field.half,
.form-field.half {
  //-ms-flex-preferred-size: calc(50% - .375em);
  width: calc((100% - 5px) / 2);
  display: inline-block;
  flex-basis: calc(50% - 0.375em);
}

// Inline name fields using only the classes that come with Formidable
.frm6 {
  width: calc((100% - 5px) / 2);
  display: inline-block;
  flex-basis: calc(50% - 0.375em);

  // First name:
  &.frm_first {
    padding-right: 0.375rem;
  }

  // Last name:
  &:nth-of-type(2) {
    padding-left: 0.375rem;
  }
}

.frm_verify {
  display: none;
}

/* ==========================================================================
   File upload field - from Formidable Default Styles

   Any default values that are changed are commented out for reference.
   ========================================================================== */

.frm_upload2_icon::before {
  content: "\f093";
  color: theme("colors.siteErrorRed");;
}

.frm_upload_icon::before {
  //content: "\e616";
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cpath d='M17 12v5H3v-5H1v5a2 2 0 002 2h14a2 2 0 002-2v-5z'/%3E%3Cpath d='M15 7l-5-6-5 6h4v8h2V7h4z'/%3E%3C/svg%3E");
  filter: brightness(0) saturate(100%) invert(16%) sepia(25%) saturate(6869%) hue-rotate(190deg) brightness(94%) contrast(101%);
}

.frm_dropzone,
.frm_dropzone * {
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.frm_dropzone.frm_single_upload,
.frm_dropzone.dz-clickable {
  min-height: 100px;
  margin-top: 5px;
  line-height: 1.42857143;
}

.frm_dropzone.dz-clickable * {
  cursor: default;
}

.frm_dropzone.frm_single_upload {
  //max-width: 200px;
  max-width: none;
  border: 1px solid theme("colors.primary");
  border-radius: theme("borderRadius.formFieldRadius");
  margin-top: 1rem;
}

.frm_dropzone.frm_single_upload.dz-started {
  //max-width: 300px;
}

.frm_form_field.frm_full .frm_dropzone.dz-clickable.frm_single_upload,
.frm_form_field.frm_full_upload .frm_dropzone.dz-clickable.frm_single_upload {
  max-width: 100%;
}

.frm_form_field.frm_full .frm_dropzone.dz-clickable.frm_single_upload .dz-message,
.frm_form_field.frm_full_upload .frm_dropzone.dz-clickable.frm_single_upload .dz-message {
  margin: 0.5em 0 1em;
}

.frm_dropzone .dz-message {
  //border: 2px dashed #dfdfdf;
  border: 2px solid #dfdfdf;
  background: theme("colors.siteWhite");
  // background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
  display: none;
  //font-size: 20px;
  font-size: 16px;
  text-align: center;
  margin: 0.5em 0 1em;
}

.frm_dropzone.dz-clickable.frm_single_upload .dz-message {
  margin: 0 0 0.5em;
}

.frm_dropzone.frm_single_upload.dz-started .dz-message {
  display: none;
}

.frm_dropzone.dz-clickable .dz-message,
.frm_dropzone .frm_upload_icon {
  display: block;
}

.frm_dropzone.dz-clickable .dz-message,
.frm_dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}

#frm_form_editor_container .frm_dropzone.dz-clickable,
#frm_form_editor_container .frm_dropzone.dz-clickable * {
  cursor: default;
}

.frm_dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}

.frm_dropzone .frm_upload_icon::before {
  font-size: 40px;
}

.frm_dropzone .frm_small_text {
  font-size: 14px;
  color: theme("colors.siteDarkGrey");

}

.frm_dropzone.dz-drag-hover {
  border-style: solid;
}

.frm_dropzone .dz-preview {
  padding: 15px 0;
  border-bottom: 1px solid #dfdfdf;
}

.frm_dropzone .dz-preview:last-child {
  border-bottom: none;
}

.frm_dropzone .dz-preview:hover {
  z-index: 1000;
}

.frm_dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}

.frm_dropzone .dz-preview.dz-image-preview .dz-details {
  transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.frm_dropzone .dz-preview .dz-remove {
  cursor: pointer;
  border: none;
  float: right;
}

.frm_dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}

.frm_dropzone .dz-preview .dz-details {
  font-size: 14px;
  margin: 5px 0 10px;
}

.frm_dropzone .dz-preview .dz-details .dz-size,
.frm_dropzone .dz-preview .dz-details .dz-filename {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.frm_dropzone .dz-preview .dz-details .dz-size strong {
  font-weight: normal;
}

.frm_dropzone .dz-preview .dz-details .dz-filename {
  max-width: 65%;
  text-overflow: ellipsis;
}

.frm_dropzone .dz-preview .dz-details .dz-filename a {
  cursor: pointer;
}

.frm_dropzone .dz-preview .dz-column {
  float: right;
  width: 68%;
}

.frm_dropzone .dz-preview .dz-image {
  overflow: hidden;
  width: 30%;
  height: 60px;
  display: block;
  float: left;
  margin-right: 2%;
}

.frm_dropzone .dz-preview .dz-image img {
  display: block;
  margin: 0 auto;
  max-height: 60px;
}

.frm_dropzone .dz-preview.dz-success .dz-success-mark {
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.frm_dropzone .dz-preview.dz-processing .dz-progress {
  transition: all 0.2s linear;
  transition: all 0.2s linear;
  transition: all 0.2s linear;
  transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.frm_dropzone .dz-preview .dz-progress {
  pointer-events: none;
  position: relative;
  height: 10px;
  width: 100%;
  background: rgb(221 221 221 / 100%);
  transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}

.frm_dropzone .dz-preview .dz-progress .dz-upload,
.frm_dropzone .dz-preview.dz-complete .dz-progress {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
}

.frm_dropzone .dz-preview .dz-progress .dz-upload {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

.frm_dropzone .dz-preview.dz-error .dz-error-message {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.frm_dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: theme("colors.siteErrorRed");
  padding: 0.5em;
  font-family: theme("fontFamily.body");
  font-weight: 400;
}

.frm_dropzone .fallback input[type="file"] {
  display: block;
}

.frm_error {
  color: theme("colors.siteErrorRed");
  font-family: theme("fontFamily.body");
  font-size: 1rem;
  font-weight: 400;
}

.frm_upload_text {
   button {
     color: theme("colors.siteDarkGrey");
   }
}

.frm_compact_text {
  button {
    color: theme("colors.siteDarkGrey");
  }
}
