html,
body {
  background-color: green;
  scroll-behavior: smooth;
}

#app {
  header.main-header {
    background-color: purple;
    position: fixed;
    width: 100%;
    z-index: 99;
  } /* End of header.main-header */

  #main-container {
    margin-top: 200px; //height of header + page header

    main.main {
      background-color: yellow;
    } /* End of main.main */

    aside.sidebar {
      background-color: pink;
    } /* End of aside.sidebar */
  } /* End of #main-container */

  footer.main-footer {
  } /* End of footer.main-footer */
} /* End of #app */
