/* ===========================  Utilities  ========================== */
@import "utilities/responsive-mixins";
@import "utilities/overlays-mixins";
@import "utilities/fullwidth-mixin";

/* ===========================  Theme  ========================== */
@import "theme/theme";

/* ===========================  DEV - Debugging  ========================== */
@import "dev/dev-debugging";

/* ===========================  Utilities that require theme  ========================== */
@import "utilities/button-mixins";
@import "utilities/icons";

/* ===========================  Tailwind  ========================== */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "shared/globals";

/* ===========================  Packages and Libraries  ========================== */
@import "swiper/css/bundle";
@import "aos/dist/aos.css";
@import "flickity/css/flickity.css";
//@import "accordion-js/dist/accordion.min.css";

/* ===========================  Core Styling  ========================== */
@import "utilities/wordpress-core-styles";

/* ===========================  Components  ========================== */
@import "components/buttons";
@import "components/accordion-js"; // based on styles from accordion-js package - original is imported above if you need new defaults.

@import "flickity/flickity";

/* ===========================  Layout  ========================== */
@import "layout/layout-utilities";
@import "layout/rmmSections";

/* ===========================  Sections  ========================== */
@import "sections/sidebar";
@import "sections/footer";
@import "sections/bottom-bar";

/* ===========================  Menus  ========================== */
@import "menus/desktop_primary_navigation";

//@import "menus/mobile_slide_menu";
@import "menus/mobile_menu_dropdown";
@import "menus/not-found-menu";

/* ===========================  Forms  ========================== */
@import "forms/formidable_styles";

/* ===========================  Page Templates  ========================== */
@import "page-templates/front-page";
@import "page-templates/404";

/* ===========================  Blog Styling  ========================== */

@import "blog/blog-sidebar";
@import "blog/blog-styling";
@import "blog/category-switcher";

/* ===========================  Wit Site Plugin Elements  ========================== */
@import "fieldPartials/businessAddress";
@import "fieldPartials/socialIcons";

/* ===========================  ThirdParty - Plugins  ========================== */
@import "third-party/yoast-breadcrumbs";
@import "third-party/wp-business-reviews";

/* ===========================  Wit Common Sections  ========================== */
@import "witCommonSections/contactInformation";

/* ==========================================================================
   TESTING OUT TAILWIND UTILITIES AND COMPONENTS
   ========================================================================== */

:root {
  --mobile-h1: 14px; // dark red;
  --desktop-h1: 43px; // medium red
}

@layer base {
  svg {
    display: inline;
  }

  h1 {
    font-size: var(--mobile-h1);

    @screen lg {
      font-size: var(--desktop-h1);
    }
  }

  h2 {
    @apply text-xl;
  }
}

@layer utilities {
  .filter-aqua {
    filter: brightness(0) saturate(100%) invert(78%) sepia(89%) saturate(542%) hue-rotate(112deg) brightness(102%) contrast(106%);
  }

  .filter-red {
    filter: brightness(0) saturate(100%) invert(9%) sepia(43%) saturate(5880%) hue-rotate(348deg) brightness(121%) contrast(109%);
  }

  .siteDropShadow {
    box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 20%);

    &:hover {
      @apply bg-blue-500;
    }
  }

  .witSectionYMargins {
    @apply my-8;
    @screen lg {
      @apply my-12;
    }
  }
}

@layer components {
  .bttn {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }

  /* ... */
}

//* {
//  transition: background 0.4s, color 0.4s, border-color 0.4s, filter 0.4s, opacity 0.4s, max-height 0.4s, padding 0.4s;
//}

@layer utilities {
  .icon-before-phone {
    position: relative;
    align-items: center;
    display: flex;

    &::before {
      position: relative;
      height: 1rem;
      width: 1rem;
      display: inline-block;
      background-size: cover;
      content: "";
      //background-color: black;
      bottom: 0;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.586 11.174c-.871-.87-2.14-1.632-3.12-.653a4.56 4.56 0 0 0-.98 1.488s-1.633.87-4.5-1.996C3.12 7.147 3.992 5.514 3.992 5.514s.798-.29 1.488-.98c.98-.98.217-2.249-.653-3.12C3.81.398 2.43-.472 1.669.29.254 1.704 0 3.52 0 3.52S.69 7.8 4.463 11.537C8.236 15.274 12.48 16 12.48 16s1.815-.29 3.23-1.669c.761-.762-.11-2.14-1.125-3.157Z' fill='%23FFFCF9' fill-rule='nonzero'/%3E%3C/svg%3E");
      filter: brightness(0) saturate(100%);
    }

    &:hover {
      filter: brightness(0) saturate(100%) invert(68%) sepia(60%) saturate(6153%) hue-rotate(160deg) brightness(93%) contrast(103%);

      &::before {
        filter: brightness(0) saturate(100%) invert(68%) sepia(60%) saturate(6153%) hue-rotate(160deg) brightness(93%) contrast(103%);
      }
    }
  }
}
