body.login {
  background: rgb(0 71 82); /* Old browsers */
  background: linear-gradient(to bottom, rgb(0 71 82 / 100%) 0%, rgb(0 211 216 / 100%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-attachment: fixed;
  background-color: #004752;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#004752", endColorstr="#00d3d8", GradientType=0); /* IE6-9 */
}

.login h1 a {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 333 102.25'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff%7D.cls-2%7Bfill:%2300d3d8%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='ART'%3E%3Cpath class='cls-1' d='M199.32 44.56h-2.66l-4.43-10.51c-.22-.55-.48-1.35-.48-1.35h-.06s-.23.8-.45 1.35l-4.46 10.51h-2.66l-8.56-18.66a1.22 1.22 0 0 1-.13-.38c0-.1.07-.2.26-.2h3.85c.38 0 .45 0 .64.42l4.33 9.2a25.27 25.27 0 0 1 1 2.79h.13a17.46 17.46 0 0 1 .77-2.24l4.27-10.17h2.05L197 35.49a20.06 20.06 0 0 1 .77 2.24h.13a26.18 26.18 0 0 1 1-2.79l4.32-9.2c.2-.38.26-.42.65-.42h3.84c.2 0 .26.1.26.2a1 1 0 0 1-.13.38ZM221.32 44.18a.41.41 0 0 1-.38.38h-3.59a.41.41 0 0 1-.39-.38V25.71a.42.42 0 0 1 .39-.39h3.59a.42.42 0 0 1 .38.39ZM230.63 29a.54.54 0 0 1-.45-.45v-2.78a.54.54 0 0 1 .45-.45h18.21a.55.55 0 0 1 .45.45v2.76a.55.55 0 0 1-.45.45h-6.93v15.2a.41.41 0 0 1-.38.38h-3.59a.41.41 0 0 1-.39-.38V29ZM177.77 76.62a.41.41 0 0 1-.38-.38V57.77a.41.41 0 0 1 .38-.38h8.12c6.09 0 10.64 3.75 10.64 9.62s-3.85 9.61-10.58 9.61Zm4-15.58V73H186c4.07 0 6.22-2.31 6.22-6s-2.63-6-6.28-6ZM210.86 76.24a.41.41 0 0 1-.38.38h-3.6a.41.41 0 0 1-.38-.38V57.77a.41.41 0 0 1 .38-.38h3.6a.41.41 0 0 1 .38.38ZM241.54 68c0 4.93-3.5 9-10.14 9-5.8 0-10.61-3.84-10.61-9.93 0-5.87 4.62-9.94 10.61-9.94 6.64 0 9.43 4.07 9.49 6.92 0 .19-.12.42-.51.42h-3.3a.45.45 0 0 1-.48-.32c-.35-1.54-1.86-3.37-5.2-3.37a6.11 6.11 0 0 0-6.25 6.22 6 6 0 0 0 6.25 6.28c3.47 0 5.55-1.73 5.68-3.59H230a.55.55 0 0 1-.45-.45v-2.43a.55.55 0 0 1 .45-.45h11.55ZM255.93 76.24a.41.41 0 0 1-.38.38H252a.41.41 0 0 1-.39-.38V57.77a.41.41 0 0 1 .39-.38h3.59a.41.41 0 0 1 .38.38ZM265.24 61a.54.54 0 0 1-.45-.45v-2.72a.53.53 0 0 1 .45-.44h18.21a.54.54 0 0 1 .45.44v2.76a.55.55 0 0 1-.45.45h-6.93v15.2a.41.41 0 0 1-.38.38h-3.59a.41.41 0 0 1-.39-.38V61ZM303.61 73.29h-9.36l-1.38 2.92c-.19.38-.29.41-.68.41h-3.81a.23.23 0 0 1-.26-.22 1.19 1.19 0 0 1 .13-.39l9-18.62h3.34l9 18.62a1.19 1.19 0 0 1 .13.39.23.23 0 0 1-.26.22h-3.81c-.39 0-.49 0-.68-.41Zm-7.82-3.4h6.34l-1.73-3.56a33.51 33.51 0 0 1-1.34-3.43h-.2a33.51 33.51 0 0 1-1.34 3.43ZM323.06 73h9.49a.55.55 0 0 1 .45.45v2.76a.54.54 0 0 1-.45.44h-13.46a.41.41 0 0 1-.39-.38v-18.5a.41.41 0 0 1 .39-.38h3.59a.41.41 0 0 1 .38.38ZM152 102.25a1.33 1.33 0 0 1-1.34-1.33V1.34a1.34 1.34 0 1 1 2.68 0v99.58a1.33 1.33 0 0 1-1.34 1.33Z'/%3E%3Cpath class='cls-2' d='M40.23 88.9 54.3 64.42a1.34 1.34 0 0 0 0-1.34L30.66 22a1.35 1.35 0 0 0-1.17-.68H1.35a1.35 1.35 0 0 0-1.17 2L37.89 88.9a1.35 1.35 0 0 0 2.34 0ZM90.09 88.9l14.07-24.48a1.34 1.34 0 0 0 0-1.34L80.52 22a1.35 1.35 0 0 0-1.17-.68H51.21a1.35 1.35 0 0 0-1.17 2L87.75 88.9a1.35 1.35 0 0 0 2.34 0ZM96.23 28.47l11.55-3.85 3.85-11.56a.57.57 0 0 1 1.07 0l3.85 11.56 11.55 3.85a.56.56 0 0 1 0 1.06l-11.55 3.86-3.85 11.55a.57.57 0 0 1-1.07 0l-3.85-11.55-11.55-3.86a.56.56 0 0 1 0-1.06Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  outline: none;
  color: #444;
  text-decoration: none;
  text-indent: -9999px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
  overflow: hidden;
}

.login form {
  padding: 26px 24px 46px;
  margin-top: 20px;
  margin-left: 0;
  box-shadow: 0 5px 5px rgb(51 51 51 / 79%);
  background: rgb(0 71 82 / 100%);
  border: 1px solid rgb(0 211 216 / 100%);
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  overflow: hidden;
}

.login a {
  color: rgb(0 211 216 / 100%);
}

.login label {
  color: #fff;
  font-size: 14px;
}

.login #nav a,
.login #backtoblog a {
  color: #fff;
  text-decoration: none;
}

.login #nav a:hover,
.login #backtoblog a:hover,
.login h1 a:hover {
  color: rgb(255 173 0 / 100%);
}

.login input[type="text"],
.login input[type="password"] {
  padding: 10px;
  background-color: #ddd;
  border: none;
  border-bottom: 4px solid #ccc;
  border-color: #ddd;
  color: #000;
  font-size: 12px;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  background-color: #fff;
  border-bottom: 4px solid rgb(0 211 216 / 100%);
}

.login .button-primary {
  float: right;
  background-color: rgb(0 211 216 / 100%) !important;
  border: none;
  color: rgb(0 71 82 / 100%);
  text-shadow: none;
  border-radius: 4px;
}

.login .button-primary:hover {
  background-color: rgb(0 211 216 / 100%) !important;
  border: 1px solid #004752;
  color: #fff;
  border-radius: 4px;
}

.login .button-primary:active {
  background-color: #004752 !important;
  border: 1px solid #004752;
  color: #fff;
  border-radius: 4px;
}

.login #login_error {
  background-color: #dc3232;
  border-left-color: #dc3232;
  color: #fff;
}

.login #login_error a {
  color: #ffb9ba;
}

#branding {
  display: none;
}

.login h1.admin-email__heading {
  padding-bottom: 0.5em;
  border-bottom: 1px #f1f1f1 solid;
  color: #ccc;
  text-align: left;
  font-weight: 400;
}
