/* ==========================================================================
   Theme
   Define CSS custom properties

   1. Colors
   2. Fonts and Typography

   ========================================================================== */
$desktopBreakpoint: 1024px;

$white-rgb: 255, 255, 255;
$black-rgb: 0,0,0,;

:root {
  /* ==========================================================================
   1. Colors
   Use RGB values, now CSS property values, Tailwind type classes classes will be
   created from /theme/generators/theme_colors.css
   ========================================================================== */

  --white-rgb: #{$white-rgb};
  --site-white-rgb: 255, 252, 249;
  --white: rgb(#{$white-rgb});
  --black: rgb(#{$black-rgb});
  $site-white-hex: #fffcf9;

  --black-rgb: 0, 0, 0;
  --site-black-rgb: 55, 55, 55;
  $site-black-hex: #373737;

  --primary-rgb: 172, 26, 25;
  $primary-hex: #ac1a19;

  --secondary-rgb: 26, 73, 117;
  $secondary-hex: #1a4975;

  --secondaryDark-rgb: 198, 35, 52;
  $secondaryDark-hex: #c62334;

  --accent-rgb: 37, 66, 148;
  $accent-hex: #254294;

  --lightGrey-rgb: 236, 237, 238;
  $lightGrey-hex: #ecedee;

  --darkGrey-rgb: 109, 109, 109;
  $darkGrey-hex: #6d6d6d;

  --navy-rgb: 0, 32, 71;
  $navy-hex: #002047;

  --primary-gradient: linear-gradient(-249deg, #0047b7 0%, #002d99 100%);

  //Color Filters
  .recolor-white {
    filter: brightness(0) invert(1);
  }

  .recolor-primary {
    //@include recolor($primary-hex, 1);

    filter: brightness(0) saturate(100%) invert(10%) sepia(84%) saturate(6015%) hue-rotate(226deg) brightness(101%) contrast(100%);
  }

  .recolor-secondary {
    @include recolor($secondary-hex, 1);
  }

  .recolor-accent {
    @include recolor($accent-hex, 1);
  }

  /* ==========================================================================
     Layout
     All set in theme.json   settings.layou
     ========================================================================== */
  --desktop-content-width: 1200px;
  --full-content-width: 90vw;
  --full-content-max-width: 1440px; // Content width for alignfull blocks and content
  --wide-content-width: 80vw;
  --wide-content-max-width: 1200px; // Content width for alignfull blocks and content
  --background-color: var(--site-white);

  /* ==========================================================================
   Typography
   (Use link in html header method to bring in fonts, not @import in css)
   http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/
   ========================================================================== */

  //  Fonts
  --display-font-family: congenial, sans-serif;
  --body-font-family: ff-tisa-sans-web-pro, sans-serif;
  --serif-font-family: "Times New Roman", serif;
  --body-font-color: rgb(var(--site-black-rgb) 1);
  //TESTING
  //--display-font-family: 'Kdam Thmor', cursive;
  //--body-font-family:  Wingdings, sans-serif;
  --base-fontSize: 16px;
  --sm-base-lineHeight: 1.375rem;
  --md-base-lineHeight: 1.375rem;

  //  Links
  --link-color: var(--accent);
  --link-textDecoration: none;
  --hover-color: var(--secondary);
  --hover-decoration: var(--secondary);

  /* ===========================  Headers  ========================== */
  // Mobile
  --sm-h1-fontSize: 2rem;
  --sm-h1-lineHeight: 2.375rem;
  --sm-h1-textTransform: none;
  --sm-h1-fontWeight: 900; // ExtraBold
  --sm-h2-fontSize: 1.75rem;
  --sm-h2-lineHeight: 2rem;
  --sm-h2-textTransform: none;
  --sm-h2-fontWeight: 900; // ExtraBold
  --sm-h3-fontSize: 1.5rem;
  --sm-h3-lineHeight: 2rem;
  --sm-h3-textTransform: none;
  --sm-h3-fontWeight: 900; // ExtraBold
  --sm-h4-fontSize: 1.25rem;
  --sm-h4-lineHeight: 1.75rem;
  --sm-h4-textTransform: none;
  --sm-h4-fontWeight: 900; // ExtraBold
  --sm-h5-fontSize: 1.25rem;
  --sm-h5-lineHeight: 1.75rem;
  --sm-h5-textTransform: none;
  --sm-h5-fontWeight: 900; // ExtraBold
  --sm-h6-fontSize: 1rem;
  --sm-h6-lineHeight: 1.5rem;
  --sm-h6-textTransform: none;
  --sm-h6-fontWeight: 900; // ExtraBold

  // Desktop
  --md-h1-fontSize: 2.625rem;
  --md-h1-lineHeight: 3rem;
  --md-h1-textTransform: none;
  --md-h1-fontWeight: 900; // ExtraBold
  --md-h2-fontSize: 2.25rem;
  --md-h2-lineHeight: 2.5rem;
  --md-h2-textTransform: none;
  --md-h2-fontWeight: 900; // ExtraBold
  --md-h3-fontSize: 1.75rem;
  --md-h3-lineHeight: 2rem;
  --md-h3-textTransform: none;
  --md-h3-fontWeight: 900; // ExtraBold
  --md-h4-fontSize: 1.5rem;
  --md-h4-lineHeight: 2rem;
  --md-h4-textTransform: none;
  --md-h4-fontWeight: 900; // ExtraBold
  --md-h5-fontSize: 1.25rem;
  --md-h5-lineHeight: 1.625rem;
  --md-h5-textTransform: none;
  --md-h5-fontWeight: 900; // ExtraBold
  --md-h6-fontSize: 1.25rem;
  --md-h6-lineHeight: 1.625rem;
  --md-h6-textTransform: none;
  --md-h6-fontWeight: 900; // ExtraBold

  //  Lists

  //  BlockQuote

  --sm-blockquote-fontSize: 16px;
  --sm-blockquote-lineHeight: 1.5em;
  --sm-blockquote-fontWeight: 800; // ExtraBold
} /* End of :root */

/* ==========================================================================
   Create Overlays
   ClassBaseName - Color - Parent Position (relative)
   Creates overlay classes with opacity .1 through .9 and solid
   .overlay-primary-100
   ========================================================================== */

@include createOverlays("primary", var(--primary));
@include createOverlays("secondary", var(--secondary));

@include createOverlays("primary-gradient", var(--primary-gradient));
