address.business-address {
  font-style: normal;

  a.business_address_link {
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  span.business_address {
    //  display: inline-block;
  }

  span.business_address_line_2 {
    //display: inline-block;
  }

  span.business_city {
    //display: inline-block;
  }

  span.business_state {
    //display: inline-block;
  }

  span.business_zip_code {
    //display: inline-block;
  }
} /* End of .address.business-address */
